//* List
$sizes: 8, 16, 28;

//* Map

@each $size in $sizes {
    .p-#{$size} {
        padding: #{$size}px;
    }
}

$spacers: (
'sm':24,
'lg': 36,
'md': 32,
'xl': 68
);


@each $key, $value in $spacers {
    .margin-#{$key} {
        margin: #{$value}px;
    }
}