@use 'sass:math';


//* --with-- that overwrite value var
@use 'btn-schema' as btn-vars with (
    $font-size: 18px,
    $btn-color: #000000,
    $btn-bg-color: #ffffff

);

.small-btn {
font-size: btn-vars.$font-size;
color: btn-vars.$btn-color;
background-color: btn-vars.$btn-bg-color;
}

@debug math.$pi