/**
  |============================
  | Using combinators in SASS
  |============================
*/
ul > li {
  list-style: none;
}

h2 + p {
  border-top: 1px solid gray;
}

p ~ span {
  opacity: 0.8;
}

.section {
  width: 100%;
}
.section .title {
  color: teal;
}
.section .paragraph {
  font-size: 14px;
}